/* All styles for your header Components live here */
.header-container {
    width: 100%;
    height: 110px;
    display: flex;
}

.thumbnail-container {
    height: 100%;
    width: 110px;
    display: flex;
    justify-content: center;
}

.lambda-thumbnail-img {
    width: 60%;
    height: 60%;
}

.content-container {
    width: 690px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/* Header title */
.header-title-container {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-right: 40%;
}

.header-title {
    font-weight: bold
}

.handle {
    color: dimgray;
}

.timestamp {
    color: dimgray;
}

/* Header paragraph */

.header-p-container {
    line-height: 1.2;
    font-size: 20px;
}
